    {% extends 'base_home.html' %}

    {% block conteudo %} 
     

        <div  style="text-align: center;"  class = "container" >
            <h2>Cadastro de Usuário</h2>

            <form method="post" action="{% url 'cadastrar_usuario' %}">
            {% csrf_token %}
            {{ form.as_p }}

                <button  class="btn btn-primary" type="submit">Cadastrar</button>
                <a class="btn btn-primary" href="{% url 'home' %}" >Cancelar</a>
            
          

            </form>
        </div>
    {% endblock %}

 

    {% block conteudo1%} 
        {% load static %}
        <div style="display:flex; justify-content: center;">
            <img  src="{% static 'gastos/images/usuario.png' %}" class="card-img-top" style="width: 15rem;" >
        </div>

    {% endblock %}