{% extends 'base_logado.html' %}


{% block conteudo %} 
    <div  style="text-align: center;"  class = "container" >
        <br>
        <h4 style="color: aliceblue;">Administre suas despesas</h4>
        <br>
        <div>
        <a href="{% url 'cadastrar_gasto' %}"><button  class="btn btn-light" style="color: green;" type="submit" >Cadastrar Gasto</button></a>
        </div>
        <br>
        <div>
        <a href="{% url 'listar_gastos' %}"><button  class="btn btn-light" style="color: green;" type="submit" >Atualizar Gasto</button></a>
        </div>
        <br>
        <div>
        <a href="{% url 'listar_gastos' %}"><button  class="btn btn-light" style="color: green;" type="submit" >Listar Gasto</button></a>
        </div>
        <br>
      
    </div>
    
{% endblock %}

{% block conteudo1 %} 
    <div  style="text-align: center;"  class = "container" >
        <br>
        <h4 style="color: aliceblue;">Administre suas receitas</h4>
        <br>
        <div><a href="{% url 'cadastrar_receita' %}"><button class="btn btn-light" style="color:blue;" type="submit" >Cadastrar Receita</button></a>
        </div><br>
        <div><a href="{% url 'listar_receita' %}"><button class="btn btn-light"  style="color:blue;" type="submit" >Atualizar Receita</button></a>
        </div><br>
        <div><a href="{% url 'listar_receita' %}"><button class="btn btn-light"  style="color:blue;" type="submit" >Listar Receita</button></a>
        </div><br>
       
    
  
    </div>
        
{% endblock %}

{% block conteudo2 %} 
    <div  style="text-align: center;"  class = "container" >
        <br>
        <h4 style="color: aliceblue;">Seus Dados</h4>
        <br>
        <a href="#"><button class="btn btn-light" style="color:green;" type="submit" >Atualizar dados</button></a>
        <br>
        
    </div>
    
{% endblock %}

{% block conteudo3 %} 
    <div  style="text-align: center;"  class = "container" >
        <br>
        <h4 style="color: aliceblue;">Relatórios</h4>
        <br>
        <a href="{% url 'relatorio_gastos_receitas' %}"><button class="btn btn-light" style="color: blue;" type="submit" >Exibir Relatório</button></a>
        <br>

    </div> 
        
{% endblock %}

 