<!-- gastos/templates/gastos/listar_gastos.html -->
{% extends 'base_logado.html' %}

{% block conteudo %} 
    <div  style="text-align: center;"  class = "container" >

      <h2>Listagem de Gastos</h2>
      <ul>
          {% for gasto in gastos %}
            <li>{{ gasto.categoria }} - {{ gasto.valor }} - {{ gasto.periodo }} 
              <a href="{% url 'atualizar_gasto' pk=gasto.pk %}">Atualizar</a>
              <a href="{% url 'remover_gasto' pk=gasto.pk %}">Remover</a>
              
            </li>
          {% endfor %}
        </ul>
        
    
    </div>
{% endblock %}     

