{% extends 'base_home.html' %}

{% block conteudo %} 
    <h1>Equipe </h1>
    <br>
    {% load static %}
    <img src= "{% static 'gastos/images/equipe.png' %}"  class="card-img-top" style="width: 20rem;"/>
    
 {% endblock %}

 {% block conteudo1 %} 
    <h1 style="color: green;">Quem Somos </h1>
    
    <h4 >Uma equipe focada em desempenhar e contribuir</h4><h3 style="color: blue;"> com a mudança no mundo</h3><h4>cujo unico objetivo é trazer</h4>
      <h3 style="color: green;"> conforto e praticidade para nossos clientes.</h3>
          
   
        
 {% endblock %}