{% extends '../index.html' %}

{% block conteudo %} 
  <div class="row  gx-5 ">
    <div class="p-3  border bg-light">
      <div  style="text-align: center;"  class = "container" >
        <h2>Atualizar Receita</h2>
    
        <form method="post" action="{% url 'atualizar_receita' pk=receita.pk %}">
          {% csrf_token %}
          {{ form.as_p }}
    
          <button  class="btn btn-primary" type="submit">Atualizar Receita</button>
          <a class="btn btn-primary" href="{% url 'painel' %}" >Cancelar</a>
    
        </form>
      </div>
    </div>
  </div>


  <img src="{% static 'gastos/images/gasto.jpg' %}" class="card-img-top" style="width: 28rem;" >
        <br><br>
        <p>Deseja cadastrar uma despesa?</p>

        <a class="btn btn-primary" href="{% url 'cadastrar_gasto' %}" >Cadastro de gastos</a>
{% endblock %}


 