{% extends '../index.html' %}

{% block conteudo %} 
    <div class="container  gx-5 w-50">
        <div class="p-3  border bg-light">
            <div  style="text-align: center;"  class = "container" >
                <h2>Cadastro de Gastos</h2>
        
                <form method="POST" action="{% url 'cadastrar_gasto' %}">
                    <div class="mb-3">
                        {% csrf_token %}
                    </div>

                    {% for field in form %} 
                        <div class="mb-3">
                            <label for="{{ field.auto_id }}" class="form-label">{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endfor %}
        
                    <button class="btn btn-primary" type="submit">Cadastrar Gasto</button>
                    <a class="btn btn-primary" href="{% url 'painel' %}" >Cancelar</a>
                    
                
        
                </form>
            
            </div>
        </div>
    </div>

    <img src="{% static 'gastos/images/dinheiro.jpg' %}" class="card-img-top" style="width: 22rem; border-radius: 5px" >
<br><br>
<p>Deseja cadastrar uma receita?</p>

<a class="btn btn-primary" href="{% url 'cadastrar_receita' %}" >Cadastro de receita</a>
{% endblock %}     

