{% extends '../index.html' %}

{% block conteudo %} 
<div class="container  gx-5 w-50">
    <div class="p-3  border bg-light">
        <div  style="text-align: center;"  class = "container" >
            <h2>Cadastro de Receitas</h2>

            <form method="post" action="{% url 'cadastrar_receita' %}">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <a class="btn btn-primary" href="{% url 'painel' %}" >Cancelar</a>
            
          

            </form>
    </div>
  </div>
 {% endblock %}

