{% extends '../index.html' %}
{% load static %}

{% block conteudo %} 
<div class= row gx-5 >
   <div class="col" >
     <div class="p-3 border bg-light ">
      <h1>Quem Somos </h1>
      <br>
      
      <img src= "{% static 'gastos/images/equipe.png' %}"  class="card-img-top" style="width: 18rem;"/>
      <br>
      <h4 >Uma equipe focada em desempenhar e contribuir</h4><h3 style="color: blue;"> com a mudança no mundo</h3><h4>cujo unico objetivo é trazer</h4>
      <h3 style="color: green;"> conforto e praticidade para nossos clientes.</h3>
     </div>
   </div>
   <div class="col">
     <div class="p-3 border bg-light">
      <h2 style="color: green;">Nosso produto</h2>
    
    
      <h4 style="color: blue;">O gerenciador Financeiro é uma plataforma que reúne a organização financeira de nossos usuários. O sistema atua concentrando todas 
         as finanças; despesas e gastos.</h4><h4 style="color: green;">Nosso sistema NÃO É uma corretora, </h4><h4 style="color: blue;">ele atua como uma forma de organizar sua vida financeira lhe 
         dando um norte de como você está andando com seus gastos e desta forma proporcionar um controle efetivo das suas finanças </h4>
            
     </div>
   </div>
 </div>
        
 {% endblock %}


